html {
    scroll-behavior: smooth;
}

*, *::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}


/* === General === */

h2 {
  color: #5a4495; 
  font-size: 3em;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
}

.section-border {
  border-top: 2px solid #7c68a8;
  margin: 0px 300px;
}

section {
  box-sizing: border-box;
}


/* === Nav Bar === */

.nav__top {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 50px;  
  width: 100%;
  z-index: 1;
  
}

#wide-nav {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  z-index: 12;
  height: 100%;
  width: 100%;
}

.nav-list {
  display: flex;
  float: right;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style: none;
  position: relative;
}

.nav-item a {
  color: white;
  display: block;
  line-height: 50px;
  padding: 0 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item a:hover {
  background: rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 300ms;
}

#menu-nav {
  display: none;
}

#but-hamburger {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 10px;
  padding: 10px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  z-index: 12;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width: 320px) and (max-device-width : 630px) {
  #menu-nav {
    display: block
  }

  #sidebar-nav-list {
    display: none;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: (75vw, 400px);
    height: 100vh;
    outline: 0px;
    background: rgba(0, 0, 0, 0.75);
  } 

  #sidebar-nav-list nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: white;
    text-align: center;
  }

  #wide-nav {
    display: none;
  }
}


/* === Landing Page=== */

.my-home {
  height: 100vh;
  background-color: #5a4495;
  width: 100%;
}

#home-wallpaper {
  max-height: 100%;
}

.name {
  color: white;
  font-size: 5rem;
  top: 175px;
  left: 700px;
  text-shadow: 2px 2px 5px white;
  text-transform: uppercase;
  position: absolute;
}

.lastname {
  margin-left: 0.5em;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width: 320px) and (max-device-width : 630px) {
  #home-wallpaper {
    height: 62%;
    position: absolute;
    bottom: 0;
  }

  .name {
    font-size: 2em;
    top: 40px;
    left: 25px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #home-wallpaper {
    height: 75%;
    position: absolute;
    bottom: 0;
  }

  .name {
    font-size: 3em;
    top: 75px;
    left: 200px;
  }

}


/* === Profile === */

.my-profile, .my-experience {
  width: 100%;
  padding: 25px 175px;
}


.page-title {
  margin-top: 20px;
}

.grid__profile {
  display: grid;
  margin: 50px 0;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.profile-text{
  font-size: 1.3em;
}

.profile-text  p{
  margin-bottom: 40px;
  line-height: 1.5;
}

.pic-selfie-wrapper img {
  height: 350px;
  border-radius: 50%;
}

.pic-selfie-wrapper {
  height: 350px;
  width: 350px;
  box-shadow: 8px 8px 2px #5a4495;
  border-radius: 50%;
}

.profile-skills {
  text-align: center;
}

.profile-skills h3 {
  color: #5a4495;
  font-size: 1.75em;
  margin: 25px;
  text-align: center;
}

.grid__skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  list-style: none;
}

.mobile__skills {
  display: none;
}

.skill-header {
  color: #5a4495;
  font-size: 2em;
}

.skill {
  list-style: none;
  font-size: 20px;
  padding: 7px 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width: 320px) and (max-device-width : 630px) {
  .my-profile, .my-experience {
    padding: 15px 12px;
  }

  .grid__profile {
    margin: 0;
    display: block;
  }

  .profile-text {
    font-size: 1em;
  }

  .profile-text p {
    margin-bottom: 20px;
  }

  .profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pic-selfie-wrapper img {
    height: 200px;
    border-radius: 50%;
  }

  .pic-selfie-wrapper {
    height: 200px;
    width: 200px;
  }

  .grid__skills {
    display: none;
  }

  .mobile__skills {
    display: grid;
    grid-template-columns: 1fr;
  }

  .skill-split {
    border-top: 2px solid #7c68a8;
    margin: 10px 75px;

  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .my-profile, .my-experience {
    padding: 15px 20px;
  }

  .grid__profile {
    margin-bottom: 10px;
  }

  .pic-selfie-wrapper img {
    height: 250px;
    border-radius: 50%;
  }

  .pic-selfie-wrapper {
    height: 250px;
    width: 250px;
  }

}

/* === Experience === */

.my-experience {
  width: 100%;
}

.experience-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 60px;
  column-gap: 15px;
}

.experience-text h3 {color: #5a4495;}
.experience-text h4 {color: #7c68a8;}



.experience-description {
  max-width: 70%;
}

.experience-description p {
  line-height: 1.25;
}

.xp {
  float: right;
  height: auto;
  width: 38%;
  /* max-width: 38%; */
}

@media screen and (min-device-width: 320px) and (max-device-width : 630px) {
  .experience-wrapper {
    grid-template-columns: 1fr;
    row-gap: 0px;
  }

  .experience-pic {
    display: flex;
    justify-self: end;
  }

  .experience-description {
    max-width: 95%;
  }

  .xp {
    padding-top: 30px;
    padding-bottom: 10px;
    float: left;
    width: 50%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .experience-wrapper {
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
  }

  .experience-pic {
    display: flex;
    justify-self: end;
  }
  
  .experience-description {
    max-width: 80%;
  }

  .xp {
    width: 50%; 
    align-self: center;
  }


}
/* === Contact === */

.my-contact {
  background: #5a4495;
}

.contact-title {
  color: white;
  font-size: 2em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.contact-socialicons {
  margin: 10px;
  text-align: center;
}

.contact-socialicons a {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  color: #ffffff;
  display: inline-block;
  font-size: 2.5rem;
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
  text-align: center;
  line-height: 5rem;
}

.contact-socialicons a:hover {
  color: #5a4495;
  background: white;
}

.grid__contact {
  color: white;
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0px 20px 0px;
  text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width: 320px) and (max-device-width : 480px) {
  .grid__contact {
    font-size: 12px;
  }
}

