* {
  margin: 0;
  padding: 0;
}

.jumbotron{
  margin: 0 auto;
  width: 1000px;
}

.name {
  font-size: 50px;
  line-height: 62px;
  font-family: sans-serif;
}

.naruto {
  width: 300px;
  height: 200px;
  background-image: url(img/naruto.jpg);
}
