
$primary-colour-1: #5a4594;
$primary-colour-2: #9E99E3;
$primary-colour-3: #CCC9F0;
$primary-colour-4: #EEEDFA;
$primary-colour-5: #f5f5fc;
$primary-colour-dark: #544cb6;

$background-grad: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));