@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

section {
    min-height: auto;
}

.page-section {
    background-color: $primary-colour-1;
    padding: 56px 0;
}

.section-title {
    color: $primary-colour-1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
}

.bubble {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 1px 1px 20px 8px rgba(50, 46, 68, 0.55);
}

//=== Header ===//
.navbar, .scrollbar {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;

    .nav-link {
        transition: 0.3s;
        padding: .8rem 1.5rem !important;
        text-decoration: none;
        z-index: 1;
        position: relative;
        margin-right: 10px;

        &:before {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $primary-colour-4;
            border-radius: 8px 8px 0 0;
            opacity: 0;
            transition: 0.3s;
        }

        &:not(.is-active):hover::before {
            opacity: 1;
            bottom: -7px;
        }

        &:not(.is-active):hover {
            color: $primary-colour-4;
        }

        .nav-indicator {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            transition: 0.4s;
            height: 5px;
            z-index: 1;
            border-radius: 8px 8px 0 0;

        }
    }
}

.scrollbar {
    background-color: #1b1a2ea9;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
    backdrop-filter: blur(15px);
}


//=== Footer ===//

.footer {
    background-color: $primary-dark;
    color: #fff;
    padding: 20px 0;
}

.footer-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}

.footer-socialicons {
    margin-top: 15px;
    margin-bottom: 30px;
}

.footer-socialicons a {
    background-color: #fff;
    border-radius: 100%;
    color: $primary-colour-1;
    display: inline-block;
    font-size: 2rem;
    height: 4.2rem;
    width: 4.2rem;
    margin: 0 1.2rem;
    text-align: center;
    line-height: 4rem;

    &:hover {
        color: #fff;
        background-color: $primary-colour-1;
    }
}

//=== Landing Page ===//

.home-bg {
    z-index: -1;
    height: 110vh;
    background-image: $background-grad, url(../assets/imgs/adambackground.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name-title {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 20%;
}

.name {
    font-size: 7rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px #fff;
}

.Typewriter__wrapper {
    font-size: 2.2rem;
    font-weight: 550;
    text-shadow: 1px 1px 4px #fff;
}
