@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  text-align: center !important;
}

.section {
  &-page {
    margin: 5vh 0;
    background-color: $background-colour-1;
    padding: $nav-size 0;
  }

  &-div {
    display: flex;
    justify-content: center;
  }

  &-title {
    color: $primary-colour-1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
  }

  &-subtitle {
    @extend .section-title;
    color: $primary-colour-2;
    font-size: 2em;
  }
}

.splitter {
  margin: 30px 0px 20px;
}

.bubble {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: 1px 1px 20px 8px rgba(50, 46, 68, 0.55);
}

.italics {
  font-style: italic;
}

.bolden {
  font-weight: bold;
}

.inline-link {
  position: relative;
  color: $primary-colour-2;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: $primary-colour-1;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $primary-colour-1;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}
