@import "./variables";

//-------------------------------------------------//
//------------------ General ----------------------//
//-------------------------------------------------//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

section {
    min-height: 100vh;

}

.page-section {
    background-color: $primary-colour-1;
    padding: 72px 0;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.section-title {
    color: $primary-colour-1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;

    &-white {
        @extend .section-title;
        color: #fff;
    }
}


.bubble {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 1px 1px 20px 8px rgba(50, 46, 68, 0.55);
}

#tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
}

//-------------------------------------------------//
//------------------ HEADER -----------------------//
//-------------------------------------------------//

.navbar, .scrollbar {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;

    .nav-link {
        transition: 0.3s;
        padding: .8rem 1.5rem !important;
        text-decoration: none;
        z-index: 1;
        position: relative;
        margin-right: 10px;

        &:before {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $primary-colour-6;
            border-radius: 8px 8px 0 0;
            opacity: 0;
            transition: 0.3s;
        }

        &:not(.is-active):hover::before {
            opacity: 1;
            bottom: -7px;
        }

        &:not(.is-active):hover {
            color: $primary-colour-4;
        }

        .nav-indicator {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            transition: 0.4s;
            height: 5px;
            z-index: 1;
            border-radius: 8px 8px 0 0;

        }
    }
}

.scrollbar {
    background-color: #1b1a2ea9;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
    backdrop-filter: blur(15px);
}


//-------------------------------------------------//
//------------------ LANDING ----------------------//
//-------------------------------------------------//

.home-bg {
    z-index: -1;
    height: 110vh;
    background-image: $background-grad, url(../assets/imgs/adambackground.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    font-size: 7rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px #fff;

    &-title {
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        top: 30%;
        left: 20%;
    }
}

.Typewriter {

    &__wrapper {
        font-size: 2.5rem;
        font-weight: 550;
        text-shadow: 1px 1px 4px #fff;
    }

    &__cursor {
        font-size: 2.8rem;
    }
}



//-------------------------------------------------//
//--------------------- ABOUT ---------------------//
//-------------------------------------------------//
// .about-text {
//     font-size: 1.2em;
//     text-align: left;

//     p {
//         margin-bottom: 15px;
//         line-height: 1.5;
//     }
// }

// .about-pic {
//     height: 350px;

// }

.about {

    &-info {
        margin-bottom: 40px;
    }

    &-text {
        font-size: 1.2em;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

        p {
            margin-bottom: 12px;
            line-height: 1.5;
        }
    }

    &-pic {
        height: 34vh;
    }

    &-tech {
        span {
            font-size: 1.75em;
            font-weight: bold;
            color: $primary-colour-2;
            margin-bottom: 12px;
        }

        h4 {
            color: $primary-colour-3;
            text-transform: uppercase
        }

        ul {
            margin: 0;
            padding-left: 10rem;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
        }

        li {
            position: relative;
            list-style-type: none;
            margin-bottom: 0.2rem;
            padding-left: 1.5rem;
            text-align: left;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 1  px;
                width: 5px;
                height: 11px;
                border-width: 0 2px 2px 0;
                border-style: solid;
                border-color: $primary-colour-2;
                transform-origin: bottom left;
                transform: rotate(45deg);


            }
        }


    }
}

//-------------------------------------------------//
//------------------ EXXPERIENCE ------------------//
//-------------------------------------------------//

.bubble-exp {
    @extend .bubble;
    border-radius: 0px 10px 10px 0px;
}

.job-button {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    text-align: right;
    color: $primary-colour-3;

    &-active {
        @extend .job-button;
        background-color: $primary-colour-2;
        color: #fff;
    }

    &:hover {
        color: #fff;
        background-color: $primary-colour-2;
    }
}

.exp-group, .tabs, .test {
    margin: 0;
}

.highlight-exp {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 8px;
    height: 20%;
    border-radius: 4px;
    background: white;
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0.1s;
}

//-------------------------------------------------//
//------------------ FOOTER -----------------------//
//-------------------------------------------------//

.footer {
    background-color: $primary-dark;
    color: #fff;
    padding: 20px 0;

    &-title {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
    }

    &-socialicons {
        margin-top: 15px;
        margin-bottom: 30px;

        a {
            background-color: #fff;
            border-radius: 100%;
            color: $primary-colour-1;
            display: inline-block;
            font-size: 2rem;
            height: 4.2rem;
            width: 4.2rem;
            margin: 0 1.2rem;
            text-align: center;
            line-height: 4rem;

            &:hover {
                color: #fff;
                background-color: $primary-colour-1;
            }
        }
    }
}